%% -*- erlang -*-
{erl_opts,
 [
  debug_info,
  {parse_transform, decorators},
  {decorate,
   [
    {ext_dec_test,
     [
      {{w1, 0}, [{decs, wrap}]},
      {{w2, 0}, [
                 {decs, wrap},
                 {decs, wrap}
                ]},

      {{t1, 0}, [{decs, tag, [tag1]}]},
      {{t2, 0}, [
                 {decs, tag, [tag1]},
                 {decs, tag, [tag2]}
                ]},

      {{i1, 0}, [{decs, info, [], verbose}]},
      {{i2, 0}, [
                 {decs, info, [], verbose},
                 {decs, info, [], verbose}
                ]},

      {{it1, 0}, [{decs, info_tag, [tag1], verbose}]},
      {{it2, 0}, [
                 {decs, info_tag, [tag1], verbose},
                 {decs, info_tag, [tag2], verbose}
                ]}
     ]}
   ]}
 ]}.
{cover_enabled, true}.
